:host{
  height: 100%;
  width: 100%;
}

.text-title {
  display: flex;
  justify-content: space-between;
}

.my.card {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  overflow: visible;
}

::ng-deep{

  .p-datatable-wrapper{
    overflow:unset !important;
    height: 13vh;
    width: 100% !important;
  }

  .p-scrollpanel-wrapper{
    height: 13.2vh !important;
  }

  .p-scrollpanel-content {
    height: 100% !important;
  }

}
