<div class="my card">
  <div class="text-title">
    <p-dropdown [options]="options" [(ngModel)]="selectedOption" [filter]="true" filterBy="display" [showClear]="true" [placeholder]="tableTitle">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedOption">
          <div>{{ selectedOption.display }}</div>
        </div>
      </ng-template>
      <ng-template let-option pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ option.display }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <p-button icon="pi pi-window-maximize" styleClass="p-button-rounded p-button-text" (click)="onExtandDialog(tableTemplate)"></p-button>
  </div>

  <p-scrollPanel>
    <p-table [value]="tableList" [resizableColumns]="true" [scrollable]="true" scrollHeight="25vh">
      <ng-template pTemplate="header">
          <tr>
            <ng-container *ngIf="getTableHeaders()">
              <ng-container *ngFor="let header of getTableHeaders().slice(0, 3)">
                <th>{{ header | translate }}</th>
              </ng-container>
            </ng-container>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list >
          <tr (click)="onTabView(tableTemplate)">
            <ng-container *ngFor="let item of formatValues(list).slice(0, 3)">
              <td [pTooltip]="formatTooltip(list)" tooltipPosition="top">{{ item }}</td>
            </ng-container>
          </tr>
        </ng-template>
    </p-table>
  </p-scrollPanel>
  </div>

  <ng-template #tableTemplate>
    <p-table [value]="tableList" [resizableColumns]="true" [scrollable]="true" scrollHeight="25vh">
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let header of getTableHeaders()">{{ header | translate }}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list >
          <tr>
              <td *ngFor="let item of formatValues(list)" [pTooltip]="formatTooltip(list)" tooltipPosition="top">{{item}}</td>
          </tr>
        </ng-template>
      </p-table>
  </ng-template>
  <his-extand-dialog
    [header]="tableTitle"
    [inputTemplate]="selectedTemplate"
    [(visible)]="isDialogVisible"
    [width]="'37.5rem'"
    [height]="'22.5rem'"
  ></his-extand-dialog>

  <!-- <his-help-tab-list [header]="tableTitle" [inputTemplate]="tabTemplate" ></his-help-tab-list> -->
