:host {

  width: 100%;
  height: 100%;

  .content {
    display: flex;
    height: 89vh;
  }

  .side-menu {
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
  }

  .left-switch {
    width: 0;
  }

  .tool-bar {
    width: 100%;
  }

  .main-content {
    width: 86%;
    height: 100%;
  }

  .content-layout {
    width: 100%;
    height: 95%;
    padding: 0.5rem;
  }

  .situation-up {
    width: 100%;
    height: 80%;
  }

  .situation-under {
    width: 100%;
    height: 20%;
  }

  .left {
    width: 50%;
    height: 100%;
  }

  .stateImage1212 {
    width: 100%;
    height: 65%;
  }

  .stateTable1233 {
    width: 100%;
    height: 32%;
  }

  .right {
    width: 50%;
    height: 100%;
  }

  .up {
    width: 100%;
    height: 65%;
  }

  .down {
    width: 100%;
    height: 32%;
  }

  .in-left {
    width: 50%;
    height: 100%;
    gap: 8px;
  }

  .in-right {
    width: 50%;
    height: 100%;
    gap: 8px;
  }

  .stateTable3311 {
    width: 100%;
    height: 50%;
  }

  .stateTable3322 {
    width: 100%;
    height: 50%;
  }

  .stateTable4411 {
    width: 100%;
    height: 50%;
  }

  .stateTable4422 {
    width: 100%;
    height: 50%;
  }

  .stateTable3333 {
    width: 49%;
    height: 100%;
  }

  .stateTable4433 {
    width: 50%;
    height: 100%;
  }

  .stateTable1444 {
    width: 100%;
    height: 100%;
  }

  .y-axis-title {
    position: absolute;
    top: -20px; /* 根据需要调整上方的距离 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    color: 'rgb(51, 167, 255)'; /* 样式化轴标题的颜色 */
  }
}

::ng-deep {

  .side-menu .card {
    background-color: #f3f4f4;
    height: 100%;
    width: 8rem ;
    border: 0;
    box-shadow: none;
    padding-left: 0;
    padding-top: 0;

    & .p-menuitem-text {
      flex: none;
      color: black;
      font-weight: bold;
    }

    & .pi {
      color: var(--surface-on-surface, #1c1d1c);
    }
  }

  .side-menu
      .p-panelmenu
      .p-panelmenu-header
      .p-panelmenu-header-content
      .p-panelmenu-header-action {
      display: flex;
      gap: 0.5rem;
    }

  .side-menu .p-panelmenu .p-panelmenu-panel {
    box-shadow: none;
  }

  .card .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
    padding: 10px;
    gap: 0.5rem;
  }

  .p-tabview {
    width: 100%;
    height: 100%;
  }

  .p-tabview-panels {
    width: 100%;
    height: 95%;
  }

  .p-tabview-panel.ng-star-inserted{
    width: 100%;
    height: 100%;
  }

  .content .p-tabview-nav {
    background: #f3f4f4 !important;
  }

  .content .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: #f3f4f4 !important;
  }

  .content .p-tabview .p-tabview-panels {
    background: #f3f4f4 !important;
  }

  .p-dropdown {
    border: 0;
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    color: black;
    font-weight: bold;
  }

  .p-scrollpanel-content {
    padding: 0 !important;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
  }

  .stateTable1444 .my .p-scrollpanel .p-scrollpanel-wrapper {
    height: 10vh;
    width: 100%;
  }

  .stateImage1212 .mycard .p-scrollpanel .p-scrollpanel-wrapper {
    height: 9vh !important;
    width: 100%;
  }

  .stateImage1212 .mycard .p-scrollpanel .p-scrollpanel-content {
    height: 10vh;
  }

  .p-scrollpanel .p-scrollpanel-bar{
    display: none;
  }

  .p-datatable .p-datatable-thead .p-datatable-th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1%;
  }

  .p-datatable .p-datatable-tbody > tr:hover {
    transition: background-color 0.3s;
    background-color: var(--tertiary-container, #FEE9D1);;
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    padding: 0.5rem;
  }

  .p-dialog-left .p-dialog{
    width: 44vw !important;
    min-width: 850px;
  }

  .dtDataText p{
    line-height: 20px;
    margin-bottom: var(--spacing-sm, 8px);
  }

  .header-title {
    font-weight: bold;
    margin: 0;
  }

  .info-header .p-datatable-wrapper{
    overflow: auto !important;
    height: 100% !important;
  }

  .info-header .p-datatable-table{
    margin-top: 0%;
  }

  #dtDivider .p-divider.p-divider-horizontal{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .p-dialog .p-scrollpanel {
    height: 45% !important;
    width: 100% !important;

    .p-scrollpanel-wrapper {
      height: 100% !important;
      width: 100% !important;
    }

    .p-scrollpanel-content {
      width: 100%;
    }
  }
}

