<p-button (click)="switchToEnglish()">English</p-button>
<p-button (click)="switchToTraditional()">繁體中文</p-button>
<p-button (click)="switchToSimplified()">簡體中文</p-button>

<his-header class="info-header" [value]="patients"
                                [isSearchDisabled]="isSearchDisable"
                                (RowChange)="onHeaderChange($event)"
                                (search)="onHeaderSearch($event)"
                                [titleTemplate]="titleTemplate"
                                [detailTemplate]="detailTemplate"
                                [listTemplate]="listTemplate" ></his-header>

<div class="content">
  <div class="side-menu" [class.left-switch]="!isSideMenuVisible">
    <his-side-menu [menuTitle]="menuTitles"></his-side-menu>
  </div>
  <div class="main-content flex-grow-1">
    <div class="toolbar">
      <his-tool-bar [(sideMenuVisible)]="isSideMenuVisible"
                    [title]="'title' | translate" ></his-tool-bar>
    </div>
    <div class="content-layout">
      <p-tabView>
        <p-tabPanel [header]="'tabStatusLabel1' | translate">
          <div class="situation-up flex gap-2">

            <div class="left flex flex-column gap-2">
              <div class="stateImage1212">
                <his-charts [options]="dropDownList"
                            [chartList]="chartList"
                            [chartOptions]="chartOptions"
                            [chartTableList]="displayImageContent"
                            [dateFormatString]="'YYYY-MM-DD HH:mm'"
                            [title]="'chartTitle' | translate"
                            [chartTitle]="('chartTitle' | translate )?? ' '" ></his-charts>
              </div>
              <div class="stateTable1233">
                <his-table [options]="dropDownList"
                           [tableList]="surgeryList"
                           [dateFormatString]="'YYYY-MM-DD'"
                           [title]="'tableTitle1233' | translate"
                           [tableTitle]="('tableTitle1233' | translate) ?? ' '" ></his-table>
              </div>
            </div>

            <div class="right flex flex-column gap-2">
              <div class="up flex gap-2">
                <div class="in-left flex flex-column">
                  <div class="stateTable3311">
                    <his-table [options]="dropDownList"
                               [tableList]="inspectReport"
                               [title]="'tableTitle3311' | translate"
                               [tableTitle]="('tableTitle3311' | translate) ?? ' '" ></his-table>
                  </div>
                  <div class="stateTable3322">
                    <his-table [options]="dropDownList"
                               [tableList]="checkingReport"
                               [title]="'tableTitle3322' | translate"
                               [tableTitle]="('tableTitle3322' | translate) ?? ' '" ></his-table>
                  </div>
                </div>
                <div class="in-right flex flex-column">
                  <div class="stateTable4411">
                    <his-table [options]="dropDownList"
                               [tableList]="medicalDiagnosis"
                               [title]="'tableTitle4411' | translate"
                               [tableTitle]="('tableTitle4411' | translate) ?? ' '" ></his-table>
                  </div>
                  <div class="stateTable4422">
                    <his-table [options]="dropDownList"
                               [tableList]="currentMedications"
                               [title]="'tableTitle4422' | translate"
                               [tableTitle]="('tableTitle4422' | translate) ?? ' '" ></his-table>
                  </div>
                </div>
              </div>
              <div class="down flex gap-2">
                <div class="stateTable3333">
                  <his-table [options]="dropDownList"
                             [tableList]="nursingRecord"
                             [dateFormatString]="'YYYY-MM-DD HH:mm'"
                             [title]="'tableTitle3333' | translate"
                             [tableTitle]="('tableTitle3333' | translate) ?? ' '" ></his-table>
                </div>
                <div class="stateTable4433">
                  <his-table [options]="dropDownList"
                             [tableList]="consultationRecords"
                             [dateFormatString]="'YYYY-MM-DD HH:mm'"
                             [title]="'tableTitle4433' | translate"
                             [tableTitle]="('tableTitle4433' | translate) ?? ' '" ></his-table>
                </div>
              </div>
            </div>

          </div>

          <div class="situation-under">
            <div class="stateTable1444">
              <his-table [options]="dropDownList"
                         [tableList]="examineCumulative"
                         [title]="'tableTitle1444' | translate"
                         [tableTitle]="('tableTitle1444' | translate) ?? ' '" ></his-table>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel [header]="'tabStatusLabel2' | translate">
          <div class="situation-up flex gap-2">

            <div class="left flex flex-column gap-2">
              <div class="stateImage1212">
                <his-charts [options]="dropDownList"
                            [chartList]="chartList"
                            [chartOptions]="chartOptions"
                            [chartTableList]="displayImageContent"
                            [dateFormatString]="'YYYY-MM-DD HH:mm'"
                            [title]="'chartTitle' | translate"
                            [chartTitle]="('chartTitle' | translate) ?? ' '" ></his-charts>
              </div>
              <div class="stateTable1233">
                <his-table [options]="dropDownList"
                           [tableList]="surgeryList"
                           [dateFormatString]="'YYYY-MM-DD'"
                           [title]="'tableTitle1233' | translate"
                           [tableTitle]="('tableTitle1233' | translate) ?? ' '" ></his-table>
              </div>
            </div>

            <div class="right flex flex-column gap-2">
              <div class="up flex gap-2">
                <div class="in-left flex flex-column">
                  <div class="stateTable3311">
                    <his-table [options]="dropDownList"
                               [dateFormatString]="'YYYY-MM-DD'"
                               [tableList]="medicalRecords"
                               [title]="'medicaltableTitle3311' | translate"
                               [tableTitle]="(('medicaltableTitle3311' | translate).slice(0, 30)) ?? ' '" ></his-table>
                  </div>
                  <div class="stateTable3322">
                    <his-table [options]="dropDownList"
                               [dateFormatString]="'YYYY-MM-DD'"
                               [tableList]="medicalRecords"
                               [title]="'medicaltableTitle3322' | translate"
                               [tableTitle]="(('medicaltableTitle3322' | translate).slice(0, 30)) ?? ' '" ></his-table>
                  </div>
                </div>
                <div class="in-right flex flex-column">
                  <div class="stateTable4411">
                    <his-table [options]="dropDownList"
                               [tableList]="medicalDiagnosis"
                               [title]="'tableTitle4411' | translate"
                               [tableTitle]="('tableTitle4411' | translate) ?? ' '" ></his-table>
                  </div>
                  <div class="stateTable4422">
                    <his-table [options]="dropDownList"
                               [tableList]="currentMedications"
                               [title]="'tableTitle4422' | translate"
                               [tableTitle]="('tableTitle4422' | translate) ?? ' '" ></his-table>
                  </div>
                </div>
              </div>
              <div class="down flex gap-2">
                <div class="stateTable3333">
                  <his-table [options]="dropDownList"
                             [dateFormatString]="'YYYY-MM-DD'"
                             [tableList]="medicalRecords"
                             [dateFormatString]="'YYYY-MM-DD HH:mm'"
                             [title]="'medicaltableTitle3333' | translate"
                             [tableTitle]="(('medicaltableTitle3333' | translate).slice(0, 30)) ?? ' '" ></his-table>
                </div>
                <div class="stateTable4433">
                  <his-table [options]="dropDownList"
                             [tableList]="consultationRecords"
                             [dateFormatString]="'YYYY-MM-DD HH:mm'"
                             [title]="'tableTitle4433' | translate"
                             [tableTitle]="('tableTitle4433' | translate) ?? ' '" ></his-table>
                </div>
              </div>
            </div>

          </div>

          <div class="situation-under">
            <div class="stateTable1444">
              <his-table [options]="dropDownList"
                         [tableList]="examineCumulative"
                         [title]="'tableTitle1444' | translate"
                         [tableTitle]="('tableTitle1444' | translate) ?? ' '" ></his-table>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

<ng-template #titleTemplate>
  <p class="header-title">{{ headerTitle }}</p>
</ng-template>

<ng-template #listTemplate let-row>
  <td>{{ row.name }}</td>
  <td>{{ row.chartNo }}</td>
</ng-template>

<ng-template #detailTemplate >
  <div class="dtDataText">
    <div class="mt-1">
      <h5 class="mb-1">{{ 'patientBasicInfo' | translate }}</h5>
      <div class="flex flex-row">
        <div class="flex-1">
          <p>{{ 'id' | translate }}: {{ currentAdmMedicalRecord.chartNo }}</p>
          <p>{{ 'patientName' | translate }}: {{ currentAdmMedicalRecord.name }}</p>
          <p>{{ 'patientGender' | translate }}: {{ currentAdmMedicalRecord.gender.display }}</p>
        </div>
        <div class="flex-1">
          <p>{{ 'patientID' | translate }}: {{ currentAdmMedicalRecord.idNo }}</p>
          <p>{{ 'patientBirthDate' | translate }}: {{ currentAdmMedicalRecord.birthDate.formatString("YYYY-MM-DD") }}</p>
          <p>{{ 'patientNationality' | translate }}: {{ currentAdmMedicalRecord.country.display }}</p>
        </div>
      </div>
    </div>
    <p>{{ 'registeredAddress' | translate }}: {{ currentAdmMedicalRecord.address[0].street }}</p>
    <p>{{ 'mailingAddress' | translate }}: {{ currentAdmMedicalRecord.address[1].street }}</p>
    <p-divider class="flex" id="dtDivider"></p-divider>
    <div class="dtDataText">
      <h5 class="mb-1">{{ 'emergencyContactInfo' | translate }}</h5>
      <div class="flex flex-row">
        <div class="flex-1">
          <p>{{ 'contactName' | translate }}: {{ currentAdmMedicalRecord.contact.name }}</p>
          <p>{{ 'patientRelationship' | translate }}: {{ currentAdmMedicalRecord.contact.relationship.display }}</p>
        </div>
        <div class="flex-1">
          <p>{{ 'mobileNumber' | translate }}: {{ formatPhone(true, currentAdmMedicalRecord.contact.mobile) }}</p>
          <p>{{ 'homePhoneNumber' | translate }}: {{ formatPhone(false, currentAdmMedicalRecord.contact.homePhone) }}</p>
        </div>
      </div>
    </div>
    <p>{{ 'contactAddress' | translate }}: {{ currentAdmMedicalRecord.contact.physicalAddress.street }}</p>
  </div>
</ng-template>
