

  <ng-template #defaultTemplate>
    <div>沒有獲取Template</div>
  </ng-template>

  <div
  class="help-tab"
  [class.expanded]="isExpanded === true"
  [class.expandable]="isExpanded === false"
  [class.left-close]="!widthGrow"
>
  <p-tabView class="help-tabview" orientation="left">
    <p-tabPanel header="header">
      <ng-template pTemplate="content">
        <ng-container *ngTemplateOutlet="inputTemplate ? inputTemplate: defaultTemplate" ></ng-container>
      </ng-template>
    </p-tabPanel>
  </p-tabView>

  <div class="help-button">
    <p-button
      icon="pi pi-angle-up"
      *ngIf="isExpanded === false"
      styleClass="p-button-rounded p-button-text"
      (click)="onExpandTabList()"
    ></p-button>
    <p-button
      icon="pi pi-angle-down"
      styleClass="p-button-rounded p-button-text"
      (click)="onExpandTabList()"
      *ngIf="isExpanded === true"
    ></p-button>
    <p-button
      icon="pi pi-times"
      styleClass="p-button-rounded p-button-text"
      (click)="onCloseTabList()"
    ></p-button>
  </div>
  </div>
