::ng-deep {
  .help-tab {
    display: flex;
    background-color: #f3f4f4;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 10rem);
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  .left-close{
    width: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
  }

  .help-button {
    position: absolute;
    right: 0;
  }

  & .help-tabview .p-tabview .p-tabview-panels {
    background-color: #f3f4f4;
  }

  & .help-tabview .p-tabview .p-tabview-nav {
    background: #f3f4f4;
  }

  & .help-tabview .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background-color: #f3f4f4;
  }

  .expandable {
    height: 3rem;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .expanded {
    height: 90%;
    overflow: hidden;
    transition: height 0.3s ease;
  }
}
