<div class="mycard card">
  <div class="text-title">
    <p-dropdown [options]="options" [(ngModel)]="selectedOption" [filter]="true" filterBy="display" [showClear]="true" [placeholder]="chartTitle">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedOption">
          <div>{{ selectedOption.display }}</div>
        </div>
      </ng-template>
      <ng-template let-option pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ option.display }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <p-button icon="pi pi-window-maximize" styleClass="p-button-rounded p-button-text" (click)="onExtandDialog(chartsTemplate)"></p-button>
  </div>

  <div class="flex-grow-1">
    <p-chart class="myChart" [data]="chartList" [options]="chartOptions " height="25vh" width="100%"></p-chart>
  </div>

  <p-scrollPanel>
    <p-table [value]="chartTableList" [resizableColumns]="true" [scrollable]="true" scrollHeight="25vh">
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let header of getTableHeaders()">{{ header | translate }}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list >
          <tr>
              <td (click)="onExtandDialog(chartsTemplate)" *ngFor="let item of formatValues(list)" [pTooltip]="formatTooltip(list)" tooltipPosition="top">{{item}}</td>
          </tr>
      </ng-template>
    </p-table>
  </p-scrollPanel>
</div>

<ng-template #chartsTemplate>
  <div class="flex-grow-1">
    <p-chart class="myChart" [data]="chartList" [options]="chartOptions " height="25vh" width="100%"></p-chart>
  </div>

  <p-scrollPanel>
    <p-table [value]="chartTableList" [resizableColumns]="true" [scrollable]="true" scrollHeight="25vh" >
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let header of getTableHeaders()">{{ header | translate }}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list >
          <tr>
              <td *ngFor="let item of formatValues(list)" [pTooltip]="formatTooltip(list)" tooltipPosition="top">{{item}}</td>
          </tr>
      </ng-template>
    </p-table>
  </p-scrollPanel>
</ng-template>
<his-extand-dialog class="myDialog"
  [header]="chartTitle"
  [inputTemplate]="selectedTemplate"
  [(visible)]="isVisible"
  [width]="'40rem'"
  [height]="'30rem'"
></his-extand-dialog>
