:host{
  height: 100%;
  width: 100%;
}

.text-title {
  display: flex;
  justify-content: space-between;
}

.mycard.card {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  overflow: auto;
}

::ng-deep {
  .p-datatable-table {
    margin-top: 0.5rem;
  }

  .p-datatable-wrapper{
    overflow:unset !important;
    height: 13vh;
    width: 100% !important;
  }

}
